# Ignore node modules and vendor (will be rebuilt in image)
node_modules
vendor

# Environment files
.env
.env.local
.env.*.local

# Laravel storage & cache (will be re-linked)
storage/*
!storage/app/public
!storage/framework
!storage/logs
composer.lock
package-lock.json
# Logs & cache
*.log
*.cache

# Git & local stuff
.git
.gitignore
tests
.idea
.vscode
*.sqlite
